<!DOCTYPE HTML>
<!-- Website Template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Paint Republic Website Template</title>
	<link rel="stylesheet" href="~/Content/style.css" type="text/css">
</head>
<body>
	<div id="body">
		
		<div class="footer">
			<ul>
				<li>
					<a href="~/User/Index"><img src="~/Images/latest-colors.png" alt="" style="width:350px"></a>
				</li>
				<li>
					<a href="~/User/Index"><img src="~/Images/inspiration.png" alt=""></a>
				</li>
				
			</ul>
		</div>
        <div class="body">
			<h1>E-Challan </h1>
			<p>
				E-challan is an electronic format of the challan, a term generally used in India and Pakistan as a receipt for payment or delivery. An e-challan can also be defined as a specific format used for depositing or remitting the contribution or statutory payment at a bank or treasury.
			</p>
		</div>
	</div>
    <style>
        p {
        font-size:16px;
        }

    </style>
</body>
</html>